.banner {
  height: 100vh;
}

.avatar-large {
  width: 200px;
  border-radius: 50%;
}

.title-main {
  color: $blue;
  margin-top: 30px;
  font-family: $lobster;
  font-size: 50px;
  text-shadow:
  1px 1px 0 #DBDFFD,
  2px 2px 0 #DBDFFD,
  3px 3px 0 #DBDFFD,
  4px 4px 0 #DBDFFD,
  5px 5px 0 #DBDFFD;
}

.button-social {
  padding: 0 16px;
  position: relative;
  font-size: 20px;
  color: $blue;

  &:hover {
    opacity: 0.7;
    color: $red;
  }
}

.button-social-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.fa-solid {
  color: $blue;
  &:hover {
    color: $red;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 160px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  &:hover {
    .external-link {
      opacity: 1;
    }
  }
}

.external-link {
  margin-left: 8px;
  opacity: 0;
  color: $gray;
  transition: opacity 1s;
  &:hover {
    cursor: pointer;
    color: $gray
  }
}

$red: #FD1015;
$blue: #14279B;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$dark-gray: #0E0000;
$gray: #F1EEE9;
$light-gray: #F4F4F4;

// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";
$lobster: "Lobster", sans-serif;

// Specific CSS for your home-page

body {
  background-color: $gray;
}

#about {
  h2 {
    font-family: $lobster;
    font-size: 50px;
    color: $blue;
    text-align: center;
    text-shadow:
    1px 1px 0 #DBDFFD,
    2px 2px 0 #DBDFFD,
    3px 3px 0 #DBDFFD,
    4px 4px 0 #DBDFFD,
    5px 5px 0 #DBDFFD;
    margin-bottom: 40px;
  }
}

#project-title {
    font-size: 50px;
    font-family: $lobster;
    color: $blue;
    text-align: center;
    text-shadow:
    1px 1px 0 #DBDFFD,
    2px 2px 0 #DBDFFD,
    3px 3px 0 #DBDFFD,
    4px 4px 0 #DBDFFD,
    5px 5px 0 #DBDFFD;
    margin-bottom: 40px;
}

#project-name {
  font-size: 20px;
}

#more {
  margin-top: 40px;
  margin-bottom: 40px;
  color: $blue;
  font-family: $lobster;
  font-size: 40px;
  text-shadow:
    1px 1px 0 #DBDFFD,
    2px 2px 0 #DBDFFD,
    3px 3px 0 #DBDFFD,
    4px 4px 0 #DBDFFD,
    5px 5px 0 #DBDFFD;
    text-align: center;
}

// smallest device
@media (min-width: 100px) and (max-width: 575px) {
    .cards {
      grid-template-columns: 1fr;
    }
    .card-product {
      flex-direction: column;
      height: auto;
      width: 100%;
    }

    .card-product img {
      height: auto;
      width: 100%;
      object-fit: cover;
    }

   #contact {
    display: block;
    margin-left: auto;
    margin-right: auto;
   }

   .avatar-large {
    object-position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
   }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .avatar-large {
    object-position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .title-main {
    text-align: center;
  }
  .cards {
    grid-template-columns: 1fr 1fr;
  }

  .card-product {
      flex-direction: column;
      height: auto;
      width: 100%;
  }

  .card-product img {
    height: auto;
    width: 100%;
    object-fit: cover;
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .card-product {
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  .card-product img {
    height: auto;
    width: 100%;
    object-fit: cover;
  }
}
